<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<title>주택담보대출가격조회</title>



</head>
<link rel="stylesheet" href="../css/style.css">
<body>

<header id = header >
		<ul>
		<li>주택담보대출 가격조회</li>
		</ul>
</header>
<br>

	<select  th:id="city" th:name="city" th:onchange="changeCityName();" >
		
		<option  th:each="val : ${city}" th:value="${val}" th:text="${val}">
		</option>
	</select>
	<select th:id="gun" th:name="gun" th:onchange="changeGunName();">
	
		<option th:each="val : ${gun}" th:text="${val}" th:value="${val}">
		시/구
		</option>
	</select>
	<select th:id="gu" th:name="gu" th:onchange="changeGuName();">
		
		<option th:each="val : ${gu}" th:text="${val}" th:value="${val}">
		구/동
		</option>
	</select>
	<select th:id="aptName" th:name="aptName"
		th:onchange="changeAptName();">
		
		<option th:each="val : ${aptName}" th:text="${val}" th:value="${val}">
		아파트이름
		</option>
	</select>
	<select th:id="aptArea" th:name="aptArea"
		th:onchange="changeAptArea();" >
	<option>평수</option>
		<option th:each="val : ${aptArea}" th:text="${val}" th:value="${val}" >

		</option>
	</select>
	<button th:onclick="drawList()" type="button" class="btn btn-primary btn-sm">담보대출가격조회</button>
	<button th:onclick="resetButton();" type="button" class="btn btn-primary btn-sm">초기화</button>
	<br>
	<br>
	<table class="thead-dark">
	
	<thead  class= "thead-dark">
		<th scope="col">아파트 가격(만원)</th>
	</thead>
	
	<tbody   class="thead-dark">
		<td scope="col" th:id = "aptPrice1" th:name="aptPrice" th:text="${aptPrice}" th:value="${aptPrice}"></td>
	</tbody>
	
	</table>
	<!-- <h1>아파트 가격(만원)</h1>

		<h3  th:id = "aptPrice1" th:name="aptPrice" th:text="${aptPrice}" th:value="${aptPrice}" >가격나오는곳</h3> -->
		<input type = "hidden" th:id = "aptPrice2" th:value="${aptPrice}" ></input>

	<table class="table"> 
	<thead class="thead-dark">
		<th scope="col">아파트명</th>
		<th scope="col">가격(단위 : 만원)</th>
	</thead>
		<tr id="list">

		</tr>

	</table>
	<br>
	<table class="table">
		<thead class="thead-dark">
			<th scope="col">담보대출 율</th>
			<th scope="col">담보대출 가능금액</th>
		</thead>
		<tbody id = "price">
		</tbody>
		
	</table>
	
		 
	
	
	



<script th:src="@{../scripts/jquery.min.js}"></script>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
    
		/*<![CDATA[*/ 

		
			
			
		$("#city").prepend("<option >도/시를선택해주세요</option>"); 
		$("#gun").prepend("<option>시/구</option>" );
		$("#gu").prepend("<option>구/동</option>" );	
		$("#aptName").prepend("<option>아파트명</option>" );	
		$("#aptArea").prepend("<option>평수</option>" );


	function changeCityName(){
			var cityName = document.getElementById('city');
			
			if (cityName.options[cityName.selectedIndex].value =='도/시를선택해주세요') {
				location.href = "/apt/apt";

			}
			else {
				cityName.options[cityName.selectedIndex].value;
			
				location.href = "/apt/apt1?city="+cityName.options[cityName.selectedIndex].value;
			}
			
		} 
		function changeGunName(){
			var gunName = document.getElementById('gun');
			gunName.options[gunName.selectedIndex].value;
			location.href = "/apt/apt2?gun="+gunName.options[gunName.selectedIndex].value;
			
		}
		function changeGuName(){

			var guName = document.getElementById('gu');
			guName.options[guName.selectedIndex].value;
			location.href = "/apt/apt3?gu="+guName.options[guName.selectedIndex].value;
			
		}
		function changeAptName(){
		
			var aptName = document.getElementById('aptName');
			aptName.options[aptName.selectedIndex].value;
			location.href = "/apt/apt4?aptName="+aptName.options[aptName.selectedIndex].value;
			
		}
		function changeAptArea(){

			var aptArea = document.getElementById('aptArea');
			var aptName = document.getElementById('aptName');
			
			aptArea.options[aptArea.selectedIndex].value;
			aptName.options[aptName.selectedIndex].value;
			location.href = "/apt/apt5?aptArea="+aptArea.options[aptArea.selectedIndex].value;
			
	
		}
		
		function resetButton(){
			location.href = "/apt/apt"
		}
		
		
		function checkAptPrice(){
			if(document.getElementByName("aptPrice")==""){
				alert("다시선택해주세요");
			}
			return;
		}
		
	     function drawList() {
			let error = [[${error}]]	;	
				
			console.log(error);
			if (error =="false") {
				let html = '';
		      	  
		     	  html += "<td scope='col'>"+document.getElementById('aptName').value+"</td>";
		     	  html +="<td scope='col'>"+document.getElementById('aptPrice2').value+"</td>";
			       

			     document.getElementById('list').innerHTML = html;
		     	 let i=0;
		     	 let html2 = '';
		         for(i=1; i<=5; i++){
		      		html2 += "<tr>";
		       	    html2 += "<td scope='col'>"+parseInt(i*10+50)+"%"+"</td>";
		       	  	html2 += "<td scope='col'>"+parseInt(document.getElementById('aptPrice2').value*(i*10+50)/100)+"만원"+"</td>";
			      	html2 += "</tr>";
		      	 }

			        document.getElementById('price').innerHTML = html2;
			}
			else {
				alert ("값이 없습니다 초기화해주세요!");
			}
			 
      	  
	    }
		
		/*]]>*/
	
	
	    
 
    
    </script>
    </th:block>
</body>
</html>